@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
@import './themes/amd-dark.css';
@import './themes/amd-light.css';
@import './themes/amd-dark-hic.css';
@import './themes/amd-light-hic.css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Pass A38';
  src: url('./Pass_A38.woff2');
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('./Pass_A38.woff2');
}

@layer base {
  html {
    font-family: 'Pass A38', system-ui, sans-serif;
    font-size: larger;
  }
}

@layer utilities {
  .emoji {
    font-family: 'Noto Emoji';
  }
}
